<% let randomCatStatus = Math.floor(Math.random() * Math.floor(51)) + 400; %>

<h1>supposed to have something here...</h1>
<br>
<img src="https://http.cat/<%=randomCatStatus %>" />
<br>
<h2>did we get anything with <%=randomCatStatus %> '?</h2>